/* src/pages/Drawing.css */

footer.drawing {
    margin: 64px 0;
}

.drawing .result {
    color: #FE652BFC;
    font-size: 25px;
}

.draw-button {
    width: 350px;
    height: 80px;
    font-size: 20px;
    box-shadow: 2px 2px 0px 1px #000000;
    border-radius: 45px;
    background-color: #FE652B;
    color: #FFF;
    cursor: pointer;
    margin: 16px 0;
}

.draw-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.draw-button:hover {
    background-color: #4B69FD;
}

select {
    border-radius: 45px;
    height: 82px;
    width: 70%;
    box-sizing: border-box;
    padding: 0 32px;
    font-size: 20px;
    border: 2px solid black;
    box-shadow: 0px 2px 0px 1px #000000;
}

select:focus {
    outline: none;
}

p {
    font-size: 20px;
    font-weight: 200;
    margin: 32px 0;
}

/* Drawing Animation */
@keyframes shuffle {
    0% { transform: rotate(0deg) scale(1); }
    20% { transform: rotate(-5deg) scale(1.05); }
    40% { transform: rotate(5deg) scale(1.1); }
    60% { transform: rotate(-5deg) scale(1.05); }
    80% { transform: rotate(5deg) scale(1.1); }
    100% { transform: rotate(0deg) scale(1); }
}

.shuffling {
    animation: shuffle 1s ease-in-out infinite;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.congrats-message {
    font-size: 24px;
    color: #4CAF50;
    font-weight: bold;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}
/* END Drawing Animation */

.participant-container {
    max-height: 300px; 
    overflow-y: auto; 
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.participant-table {
    width: 100%;
    border-collapse: collapse;
}

.participant-table th, .participant-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.participant-table th {
    background-color: #f4f4f4;
}

@media screen and (max-width: 800px) {
    select {
        width: 100%;
    }

    .draw-button {
        width: 220px;
        margin: 32px 0;
    }
}
