/* src/components/Header/styles.css */
.header {
    display: flex;
    justify-content: space-around;
    padding-top: 120px;
}

.logo-image {
    background-image: url("/public/images/logo.png");
    width: 351px;
    height: 117px;
}

.participant {
    z-index: 1;
}

.participant-container {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    gap: 8px; /* Espaço entre a imagem e o texto */
}

.app-version {
    font-size: 14px;
    color: #f6f4f4;
    margin-top: 12rem;
}

@media screen and (max-width: 800px) {
    .header {
        padding-top: 60px;
        flex-direction: column;
        align-items: center;
    }

    .logo-image {
        background-image: url("/public/images/small-logo.png");
        width: 235px;
        height: 199px;
    }
}
