.input-btn-group {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.input-btn-group input {
    height: 82px;
    font-size: 20px;
    box-sizing: border-box;
    border: 2px solid black;
    box-shadow: 0px 2px 0px 1px #000000;
    padding-left: 20px;
    outline: none;
}

/* Input Nome (Primeiro) */
.input-btn-group .input-name {
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    width: 35%;
}

/* Input Email (Segundo) */
.input-btn-group .input-email {
    border-radius: 0;
    width: 35%;
    border-left: none;
}

/* Botão */
.input-btn-group button {
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    height: 82px;
    width: 30%;
    box-sizing: border-box;
    border: 2px solid black;
    font-size: 20px;
    color: #FFF;
    box-shadow: 2px 2px 0px 1px #000000;
    cursor: pointer;
    background-color: #2F2F2F;
    border-left: none;
}

.input-btn-group button:hover {
    opacity: 0.8;
}

.input-btn-group button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* Mensagem de erro */
.alert.error {
    color: #842029;
    background-color: #f8d7da;
    padding: 16px;
    border: 1px solid #f5c2c7;
    border-radius: 8px;
}

/* Responsividade */
@media screen and (max-width: 800px) {
    .input-btn-group {
        flex-direction: column;
    }
    .input-btn-group input,
    .input-btn-group button {
        width: 100%;
        border-radius: 45px;
        box-shadow: 0px 2px 0px 1px #000000;
        margin-bottom: 18px;
    }
    .input-btn-group .input-email {
        border-radius: 45px;
    }
    .input-btn-group button {
        width: 220px;
        margin: 0 auto;
    }
}
